

.bt {
  width: 13vw;
  height: 5vh;
  font-size: 18px;
  border: 2px solid #041630;

}

.bt:hover {
  background-color: #041630;
  color: white;
}

.fr {
  height: 7vh;
  font-size: 18px;
}

.fr1 {
  height: 7vh;
  font-size: 18px;
  border: 2px solid black;
}

.row {
  margin: 10px;
}

.b {
  position: relative;
  margin-right: 10px;
  width: 14vw;
  height: 7vh;
  font-size: 18px;
}
