<div class="container-lg" style="position: absolute;left: 220px; top:100px ;height: auto; ">
  <div class="row">
    <div class="col">
      <h1>Main Category </h1>
      <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
              style="height: 5vh; width: 30vw; font-size: 18px;  border: 2px solid #041630;">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>
    <div class="col">
    </div>
  </div>
  <div class="row" style="padding-left: 10px">
    <h1>
      Main Sub Category
    </h1>

  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn bt">Left</button>
    </div>
    <div class="col">
      <button type="button" class="btn  bt">Left</button>
    </div>
    <div class="col">
      <button type="button" class="btn  bt">Left</button>
    </div>
    <div class="col">
      <select class="form-select form-select-lg mb-3 bt" aria-label=".form-select-lg example">
        <option selected>Others</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

  </div>
  <div class="row">
    <div class="col-4 fr">
      <label for="inputName" class="form-label">Name</label>
    </div>
    <div class="col-7 ">
      <input type="text" class="form-control fr1" id="inputName">
    </div>
  </div>
  <div class="row">
    <div class="col-4 fr">
      <label for="inputDescription" class="form-label">Password</label>
    </div>
    <div class="col-7 ">
      <input type="text" class="form-control fr1" id="inputDescription">
    </div>
  </div>
  <div class="row">
    <h1 style="padding-left: 10px">
      Main Sub Category
    </h1>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn  bt">Left</button>
    </div>
    <div class="col">
      <button type="button" class="btn bt">Left</button>
    </div>
    <div class="col">
      <button type="button" class="btn  bt">Left</button>
    </div>
    <div class="col">
      <select class="form-select form-select-lg mb-3 bt" aria-label=".form-select-lg example">
        <option selected>Others</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
    </div>

  </div>
  <div class="row">
    <div class="col-4 fr">
      <label for="inputName1" class="form-label">Name</label>
    </div>
    <div class="col-7 ">
      <input type="text" class="form-control fr1" id="inputName1">
    </div>
  </div>
  <div class="row">
    <div class="col-4 fr">
      <label for="inputDescription1" class="form-label">Password</label>
    </div>
    <div class="col-7 ">
      <input type="password" class="form-control fr1" id="inputDescription1">
    </div>
  </div>
  <div class="row  text-right" style="  position: absolute;right: -120px; ">
    <button type="button" class="btn btn-primary  b" style="background-color: #b51021">Left</button>
    <button type="button" class="btn btn-primary b " style="background-color:  #041630">Left</button>
  </div>
  <br>
</div>
