<div class="container" style="position: absolute;left: 220px; top:100px ;height: auto;padding:30px">
  <table style="width:100%">
      <tr>
        <th>Main</th>
        <th>Category</th>
        <th> Main Sub</th>
        <th>CategorySub</th>
        <th>Action</th>
      </tr>
      <tr>
        <td rowspan="8">Alfreds Futterkiste</td>
        <td >Berglunds snabbköp</td>
        <td>Christina Berglund</td>
        <td>Sweden</td>
        <td>Sweden</td>
      </tr>
    <tr></tr>
<!--    <tr>-->
<!--      <td rowspan="8">Alfreds Futterkiste</td>-->
<!--      <td>Berglunds snabbköp</td>-->
<!--      <td >Christina Berglund</td>-->
<!--      <td >Sweden</td>-->
<!--      <td>Sweden</td>-->
<!--    </tr>-->
  </table>
</div>
