<div class="container" style="position: absolute;left: 220px; top:100px ;height: auto; overflow-x: hidden">
  <h1>Basic</h1>
  <div class="row">
    <div class="col-2 fr">
      <label for="product code" class="form-label">Name</label>
    </div>
    <div class="col-9 ">
      <input type="text" class="form-control fr1" id="product code">
    </div>
  </div>
  <div class="row">
    <div class="col-2 fr">
      <label for="inputName1" class="form-label">Name</label>
    </div>
    <div class="col-9 ">
      <input type="text" class="form-control fr1" id="inputName1">
    </div>
  </div>
  <div class="row">
    <div class="col-2 fr">
      <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    </div>
    <div class="col-9 ">
      <textarea class="form-control fr1" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="col-2 fr">
      <label class="form-label">Email address</label>
    </div>
    <div class="col-9 ">
      <select class="form-select bt" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
  </div>
  <div class="row">
    <div class="col-2 fr">
      <label class="form-label">Email address</label>
    </div>
    <div class="col-9 ">
      <select class="form-select bt" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
  </div>
  <div class="row">
    <div class="col-2 fr">
      <label class="form-label">Email address</label>
    </div>
    <div class="col-9 ">
      <select class="form-select bt" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
  </div>
  <h1 style="margin-right: 10px">Preferences</h1>
  <div class=" row">
    <div class="col-6">
      <label class="form-label" style="font-size: 18px; margin-right: 10px">Email address</label>
      <select class="form-select " aria-label="Default select example"
              style="width: 25vw;height: 5vh;  border: 2px solid black;font-size: 18px">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
    <div class="col-6">
      <label class="form-label" style="font-size: 18px; margin-right: 10px">Email address</label>
      <select class="form-select " aria-label="Default select example"
              style="width: 25vw;height: 5vh;  border: 2px solid black;font-size: 18px">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
  </div>
  <h1>Image</h1>
  <div class="row">
    <div class="col-6" style="width: 50vw;height: 50vh; border: 1px solid black; margin-left: 10px;position: absolute">vdvdv</div>
    <div class="col-6" style="width: 50vw;height: 50vh; position: relative;left:  600px">
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
      <div class="col-md-4" style="width: 30%; height: 30%; border: 1px solid black">dddaf</div>
    </div>
  </div>
  <br>
  <h1 style="margin-right: 10px">Preferences</h1>
  <div class=" row">
    <div class="col-6">
      <label class="form-label" style="font-size: 18px; margin-right: 10px">Email address</label>
      <select class="form-select " aria-label="Default select example"
              style="width: 25vw;height: 5vh;  border: 2px solid black;font-size: 18px">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
    <div class="col-6">
      <label class="form-label" style="font-size: 18px; margin-right: 10px">Email address</label>
      <select class="form-select " aria-label="Default select example"
              style="width: 25vw;height: 5vh;  border: 2px solid black;font-size: 18px">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select></div>
  </div>
  <h1>Stock & Pricing</h1>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Left</button>
    <button type="button" class="btn btn-primary">Right</button>
  </div>
</div>
